:host {
  display: block;
  padding: 20px 30px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;

  .input {
    width: auto;
    flex: 1 1 180px;
    max-width: 260px;
  }

  .select {
    width: auto;
    flex: 0 0 160px;
  }
}
